#art {
    display:table;
    border-spacing:1px;
    background-color:black;
    border:5pxblock  black;
}
#palette {
    display:table;
    border-spacing:1px;
    background-color: black;
}
.row {
    display:table-row;
}
.pixel {
    display:table-cell;
    background-color:white;
    width:50px;
    height:50px;
    border:1px black
}.pen {
    display:inline-block;
    width:50px;
    height:50px;
    border:1px black;
}